# ESTE ARCHIVO ES PARA QUE VSCODE SE COMPORTE COMO ESTA DEFINIDO ESTE ARCHIVO

# INDENTACION POR TABULACION
indent_style = tab 
# AL FINAL DE LA LIEA SEA UN LF
end_of_line = lf
# AL FINAL DE CUALQUIER ARCHIVO SE INTRODUSCA UN SALTO DE LINEA
insert_final_newline = true
# TABULACION POR 2 ESPACIOS
tab_width = 2
charset = utf-8
# SI DEJAMOS UN ESPACIO AL FINAL DE CADA LINEA NOS LO VA A QUITAR
trim_trailing_whitespace = true